<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            {% if app.user %}
                {% if is_granted("ROLE_ADMIN")  %}
                    {% include 'part/menu/_admin.html.twig' %}
                {% elseif is_granted("ROLE_DIRECTOR") %}
                    {% include 'part/menu/_director.html.twig' %}
                {% elseif is_granted("ROLE_TEACHER") %}
                    {% include 'part/menu/_teacher.html.twig' %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>