<form method="post" action="{{ action|default(path('app_study_class_delete', {'id': study_class.id})) }}"
      onsubmit="return confirm({{ message|default('Are you sure you want to delete this item?') }});">
    <input type="hidden" name="_token" value="{{ csrf_token( token|default('delete')  ~ id|default(study_class.id)) }}">
    {{ include('part/component/button.html.twig',{
        'name':'Delele'
    }) }}
</form>
