{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit StudyClass{% endblock %}

{% block body %}
    <h1>Edit StudyClass</h1>

    {{ include('study_class/_form.html.twig', {'name': 'Update'}) }}

    {{ include('study_class/_delete_form.html.twig') }}
{% endblock %}
