{% extends 'base_dashboard.html.twig' %}

{% block title %}
    Forbidden access!
{% endblock %}

{% block body %}
    <h2>Code: 403</h2>
    <h5>Access is forbidden!</h5>
    <p>Contact to your administrator.</p>
{% endblock %}